!!!
%head
  = render "layouts/shared/title"
  = render "layouts/shared/head"

= body_tag do
  #content
    = render "layouts/minimal/header"
    = render "layouts/shared/main"
    = render "layouts/shared/footer"
    = render "layouts/shared/tail"  
</html>
